
<body>
  <div class="clearfix">

      <div class="content_wrap">
        <nav><!-- navigation bar-->
        <ul>
          <li class = "about"> <a href="#section_one"> About </a></li>
          <li> <a href="#section_two"> Work History </a></li>
          <li> <a href="#section_three"> Education </a></li>
          <li> <a href="#section_four"> Skills </a></li>
          <li> <a href="#section_five"> Portfolio </a></li>
          <li> <a href="#section_six"> Contact</a></li>
          <li class = "download"> <a href="https://cdn.rawgit.com/amdkfe/resume/04dde419/ahmad_kafaei_cv.pdf" download> Download CV</a></li>
        </ul>
        </nav>
      </div>


    <section id="section_one" class="section_one"> <!-- section one: about-->
      <div class="content_wrap">
        <div class="left_column">
          <img class="profile_image" src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/profile-pic.jpg" alt="profile picture">
        </div>
        <div class="right_column description">
          <h1>Ahmad Kafaei</h1>
          <h4>Front-End Developer</h4>
          <p>
            Long before I graduated from university with an ecommerce degree, designing & creating new things has always been my passion. I would like to spend hours browsing through the pages on the internet, looking for inspiration & ideas. I get satisfaction out of this whole process of creating & constantly learning better ways of interacting with users in a way that I could not possibly do in a face to face conversation.
        </div>


      </div>
          <div class = "download button"> <a href="https://cdn.rawgit.com/amdkfe/resume/04dde419/ahmad_kafaei_cv.pdf" download> Download CV</a></div>
    </section>


    <section id="section_two" class="section_two"> <!--section two: work-->
      <div class="content_wrap">

        <div class="work">
          <div class="left_column">
            <h2>Work History</h2>
            <h4>Front-End Developer Student</h4>
            <p>Independent - Self Study</p>
            <p>August 2017 - Present</p>
          </div>
          <div class="right_column description">
            <p>I start learning by myself since August 2017.
              I have started learning HTML, CSS & JavaScript. In January 2018 I have joined a five moths full-time web development boot camp in Hoddesdon.</p>
          </div>
        </div>

        <div class="work">
          <div class="left_column">
            <h4>Co-Founder</h4>
            <p>SupplyExpress.co.uk</p>
            <p>September 2012 - December 2017</p>
          </div>
          <div class="right_column">
            <p>Implemented an ecommerce platfrom for a traditional business, create the new brand & its online ecommerce shop. I also managed its online marketing strategies & sales to generate huge amount of sales over the past 5 years</p>
          </div>
        </div>

        <div class="work">
          <div class="left_column">
            <h4>Founder</h4>
            <p>wowte.com</p>
            <p>January 2015 - December 2017</p>
          </div>
          <div class="right_column">
            <p>I was the founder & creator of a different social review website developed in NodeJs. I managed the project development & four developers
             until the final bug-free MVP launch of the project in 2017. </p>
          </div>
        </div>

        <div class="work last">
          <div class="left_column last">
            <h4>Marketing Manager</h4>
            <p>Westa Hotel</p>
            <p>September 2008 - January 2010</p>
          </div>
          <div class="right_column">
            <p>I was responosible to promote the hotel's brand & its time sharing program managing a team of three people. I was also responsible for doing some HR in the marketing department.</p>
          </div>
        </div>

      </div>
    </section>


   
    <section id="section_three" class="section_three"> <!--section three: education -->
      <div class="content_wrap">

        <div class="education">
          <div class="left_column">
            <h2>Education</h2>
            <h4>Full stack development course</h4>
            <p>We Got Coders Boot Camp</p>
            <!-- <p>January 0000 - June 0000</p> -->
          </div>
          <div class="right_column description">
            <p>I finished an intensive 5 months full-stack, agile web development training course focousing in Ruby, Rails, JavaScript full stack development at : <a href = "https://www.wegotcoders.com/", target="_blank">We Got Coders Bootcamp</a> </p>
          </div>
        </div>


          <div class="left_column">  
            <h4>Front End Development Student</h4>
            <p>Self Study</p>
            <!-- <p>August 0000 - December 0000</p> --><br/>
          </div>
          <div class="right_column">
            <p>Completed several online HTML, CSS, UX & JavaScript foundation, Accesibility Foundation courses in Lynda & Udemy.</p>
          </div>


        <div class="education">
          <div class="left_column">
            <h4>BSC E-Commerce</h4>
            <p>Brunel University of London</p>
            <!-- <p>September 0000 - July 0000</p> -->
          </div>
          <div class="right_column">
            <p>Completed 3 years BSC degree that was focousing on marketing, business management as well as e-business. My final disseration was on e procurement.</p>
          </div>
        </div>
      </div>
        </div>

 
    </section>
    <!--section four: skills : -->
    <section id="section_four" class="section_four">
      <div class="content_wrap">
        <div class="left_column">
          <h2>Skills</h2>
        </div>
        <div class="right_column">
        </div>
        <div class="single_column">
          <table>
            <tr>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/html.png" alt="html icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/css.png" alt="css icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/js.png" alt="JS icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/rub.jpeg" alt="Ruby icon"></td>
            </tr>
<!--             <tr>
              <td>HTML</td>
              <td>CSS</td>
              <td>JavaScript</td>
              <td>Ruby</td>
            </tr> -->

            <tr>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/rails.png" alt="ROR icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/git.png" alt="Git icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/Ph.jpg" alt="photoshop icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/Ilr.png" alt="illustrator icon"></td>
            </tr>
<!--             <tr>
              <td>Ruby On Rails</td>
              <td>Git</td>
              <td>Photoshop</td>
              <td>Illustrator</td>
            </tr> -->
          </table>
        </div>
    </section>


    <!--section five: portfolio : -->
    <section id="section_five" class="section_five">
      <div class="content_wrap">
        <div>
            <h2>Portfolio</h2>

          <div class="grid">
            <div  class="bg_box">
              <div class = "portfolio_img"><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/section-three-background.jpg"></div>
              <h4><a href="#" target="_blank">Banta</h4>
                <h5>RAILS, JAVASCRIPT</h5>
              <p>Simple chatroom created by myself using Json API</p></a>
            </div>

            <div  class="bg_box">
              <div class = "portfolio_img"><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/gochef.png"></div>
              <h4><a href="#" target="_blank">Gochef</h4>
                <h5>RUBY, RUBY ON RAILS, GIT</h5>
              <p>Group project where design & some backends is done by me in a group of 4 using Git & Pivital-tracker</p></a>
            </div>

            <div  class="bg_box">
              <div class = "portfolio_img"><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/kafaei.jpg"></div>
              <h4><a href="#" target="_blank">Kafaei.co.uk</h4>
                <h5>HTML, CSS</h5>
              <p> Single portfolio page created with pure HTML and CSS</p></a>
            </div>

            <div class="bg_box">
              <div class = "portfolio_img"><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/spx.png"></div>
              <h4><a href="https://supplyexpress.co.uk" target="_blank">Supplyexpress.co.uk</h4>
              <h5> Brand & template re-designing</h5>
              <p> An e-commerce business selling packaging materials</p></a>
            </div>

            <div class="bg_box">
              <div class = "portfolio_img"><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/wowte.png"></div>
              <h4><a href="https://en-gb.facebook.com/wowte/"
                target="_blank">Wowte.com </h4>
                <h5>IDEA, UX & UI</h5>
              <p> A social network of products review, the UX & UI were designed by me</p></a>
            </div>

            <div  class="bg_box">
              <div class = "portfolio_img"><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/vid.png"></div>
              <h4><a href="https://drive.google.com/open?id=0B4Yc5-iijfqTdUhQcVVKaS1jNXc" target="_blank">Wowte intro clip</h4>
                   <h5>PS, AI, EDIOUS</h5>
              <p>Created a clip for my start up by writing a story & creating an animation using png images!</p></a>
            </div>
           </div>
            <div class="single_column">
              <img class="portfolio" src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/portfolio-icon.png" alt="protfolio icon image">
            </div>
          </div>
        </div>
    </section>


    <!--section six: contact : -->
    <section id="section_six" class="section_six">
      <div class="content_wrap">
        <div class="single_column">
          <ul>
            <li><a href="mailto:amdkfe@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i><span> Email</span></i></a></li>
            <li><a href="https://www.linkedin.com/in/kafaei/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span> Linked In</span></i></a></li>
            <li><a href="https://github.com/amdkfe/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><span> Github</span></i></a></li>
            <li><a href="https://www.twitter.com/akafaei" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span> Twitter</span></i></a></li>
        </div>
      </div>
    </section>
  </div>
</body>

