
<body>
  <div class="clearfix">
    <!-- navigation bar-->
    <nav>
      <div class="content_wrap">
        <ul>
          <li> <a href="#section_one"> About </a></li>
          <li> <a href="#section_two"> Work History </a></li>
          <li> <a href="#section_three"> Education </a></li>
          <li> <a href="#section_four"> Skills </a></li>
          <li> <a href="#section_five"> Portfolio </a></li>
          <li> <a href="#section_six"> Contact</a></li>
        </ul>
      </div>
    </nav>
    <!-- section one: about: starts here: short info about the person along a profile pic-->
    <section id="section_one" class="section_one">
      <div class="content_wrap">
        <div class="left_column">
          <img class="profile_image" src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/profile-pic.jpg" alt="profile picture">
        </div>
        <div class="right_column description">
          <h1>Ahmad Kafaei</h1>
          <p>Jounior Front-End Developer</p>
          <p>Started to become a front end developer, So far I have learned HTML, CSS completing
            HtML, CSS, UX foundation, Accesibility Foundation courses at Lynda.com.
            I also finished the W3school HTML & CSS tutorial, done all the HTML & CSS excersises of the
            FreeCodeCamp & Codeacademy. This page is designed by myself from zero
            to hundred in three days on 19 September 2017. The codes are available in my Github repository.</p>
            <p>Thanks for visiting this page & stay tuned for furthur developments!</p>
        </div>
      </div>
    </section>
    <!--section two: work : background-->
    <section id="section_two" class="section_two">
      <div class="content_wrap">
        <!--work history list : copy and pase the <div class work> to add a list, from here:-->
        <div class="work">
          <div class="left_column">
            <h2>Work History</h2>
            <h4>Front-end Developer Student</h4>
            <p>Independent - Self Study</p>
            <p>August 2017 - Present</p>
          </div>
          <div class="right_column description">
            <p>I start learning by myself since 11 august from lynda, codeacamy , codecamp & w3school.
              I am working on html, css & this is my first html css project I have designed from scratch. </p>
          </div>
        </div>
        <!-- up to the above </div> here-->

        <div class="work">
          <div class="left_column">
            <h4>Online Marketing manager</h4>
            <p>SupplyExpress.co.uk</p>
            <p>January 2012 - August 2017</p>
          </div>
          <div class="right_column">
            <p>I was responsible in designing the website by editing simple CSS files of a pre-built e-commerce
              template. Promoting the brand by designing the logo, brand awareness & other online marketing strategies</p>
          </div>
        </div>
        <div class="work">
          <div class="left_column">
            <h4>Founder & Director</h4>
            <p>wowte.com</p>
            <p>April 2013 - December 2016</p>
          </div>
          <div class="right_column">
            <p>I was the founder of a social review website which is currently shut down due to some personal problems.
             I developed the idea, UX, UI, designed the pages in photoshop & managed four developers
             until the final bug-free launch of the project in late 2016. </p>
          </div>
        </div>
      </div>
    </section>
    <!--section three: education : background is added in the css-->
    <section id="section_three" class="section_three">
      <div class="content_wrap">
        <!-- to add an education copy and paste the "education div" from here:-->
        <div class="education">
          <div class="left_column">
            <h2>Education</h2>
            <h4>Front End Development Student</h4>
            <p>Online - Self Study</p>
            <p>August 2014 - Present</p>
          </div>
          <div class="right_column description">
            <p>I start to to become a front end developer i have learned HTML, CSS by completing
              Lynda HtML, CSS, UX foundation, Accesibility Foundation courses in Lynda.com.
              I also finished the W3school HTML & CSS tutorial, done all the excersises in the
              CodeCamp & Codeacademy in the HTML & CSS.</p>
          </div>
        </div>
        <!-- up to here-->

        <div class="education">
          <div class="left_column">
            <h4>Web Standard School</h4>
            <p>Tehran Iran</p>
            <p>July 2016 - July 2016</p>
          </div>
          <div class="right_column">
            <p>Certificate of web standard school of Iran for attending a full day (8 hours)
             intensive course in Amirkabir University of Tehran.</p>
          </div>
        </div>
        <div class="education">
          <div class="left_column">
            <h4>BSC E-Commerce</h4>
            <p>Brunel University of London</p>
            <p>September 2002 - July 2005</p>
          </div>
          <div class="right_column">
            <p>We were the second group of e-commerce gradutes in 2005, Since then I have the passion
            about this new world.</p>
          </div>
        </div>
      </div>
    </section>
    <!--section four: skills : -->
    <section id="section_four" class="section_four">
      <div class="content_wrap">
        <div class="left_column">
          <h2>Skills</h2>
        </div>
        <div class="right_column">
        </div>
        <div class="single_column">
          <table>
            <tr>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/html.png" alt="html icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/220c0665/IMG/css.png" alt="css icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/Ph.jpg" alt="photoshop icon"></td>
              <td><img src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/Ilr.png" alt="illustrator icon"></td>
            </tr>
            <tr>
              <td>HTML</td>
              <td>CSS</td>
              <td>Photoshop</td>
              <td>Illustrator</td>
            </tr>
          </table>
        </div>
    </section>
    <!--section five: portfolio : -->
    <section id="section_five" class="section_five">
      <div class="content_wrap">
        <div>
          <div>
            <h2>Portfolio</h2>
            <!--to add a portfolio copy the div class bg_box from here:-->
            <div  class="bg_box">
              <h4><a href="#" target="_blank"> simple portfolio page development</h4>
              <p> Single page created with pure HTML and CSS</p></a>
            </div>
            <!--up to here-->
            <div class="bg_box">
              <h4><a href="https://raw.githubusercontent.com/amdkfe/kafaei/master/Capture2.PNG"
                target="_blank">wowte.com startup UX & UI</h4>
              <p> A social network of products review, the UX & UI were designed by me</p></a>
            </div>
            <div class="bg_box">
              <h4><a href="https://supplyexpress.co.uk" target="_blank"> supplyexpress.co.uk template re-designing</h4>
              <p> A family e-commerce business selling packaging materials online</p></a>
            </div>
            <div  class="bg_box">
              <h4><a href="#" target="_blank">Designed Logos</h4>
              <p>Designed with illustrator & photoshop</p></a>
            </div>
            <!--paste your portfolio above this line-->
            <div class="single_column">
              <img class="portfolio" src="https://cdn.rawgit.com/amdkfe/resume/04dde419/IMG/portfolio-icon.png" alt="protfolio icon image">
            </div>
          </div>
        </div>
    </section>
    <!--section six: contact : -->
    <section id="section_six" class="section_six">
      <div class="content_wrap">
        <div class="single_column">
          <ul>
            <li><a href="mailto:amdkfe@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i><span> Email</span></i></a></li>
            <li><a href="https://www.linkedin.com/in/kafaei/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span> Linked In</span></i></a></li>
            <li><a href="https://github.com/amdkfe/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i><span> Github</span></i></a></li>
            <li><a href="https://www.freecodecamp.org/amdkfe" target="_blank"><i class="fa fa-free-code-camp" aria-hidden="true"></i><span> CodeCamp</span></i></a></li>
        </div>
      </div>
    </section>
  </div>
</body>

