<!doctype html>
<html lang-"en-us">
  <head>
    <meta charset="utf-8">
    <meta name="My protfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/6e47fdd73a.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Roboto+Condensed:300,700" rel="stylesheet">
    <title> Ahmad Kafaei </title>
    <%= stylesheet_link_tag 'application' %>
  </head>

    <%= yield %>
  </body>
</html>
